.setnewPost {
    display: grid;
    place-items: center;
}

.setnewPost form {
    max-width: 600px;
    width: 100%;
    padding: 3.5rem;
    border-radius: 7px;
    border: 1px solid hsl(0, 95%, 65%);
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    line-height: 1;
}

.setnewPost input,
.btn {
    width: 100%;
    height: 50px;
}

textarea {
    height: 100px;
    resize: none;
}

.btn {
    cursor: pointer;
    margin-top: 1rem;
}

.btn:active {
    scale: 0.9;
}

.btn:hover {
    background-color: hsl(0, 95%, 65%);
    color: white;
}